<!--begin story new version -->
<div class="story-main-space">
  <article class="col-lg-6 col-md-6 col-sm-6">
    <div id="story-main-banner">
	<div class="story-main-details">
	  <a href="#2011/<%= _id %>"><img alt="" src="<%= picture %>" class="img-responsive centering"></a>
	</div>
    </div>
  </article>

<article class="col-lg-6 col-md-6 col-sm-6" style="min-height: 470px;">	
  <div>
   <div class="story-main-details">
     <h1> <%= title %></h1>
     <h3><%= subtitle %></h3>
     <p><%= excerpt %></p>
      <div class="story-main-learn-more"><a class="button" href="#2011/<%= _id %>"><h4><%= learn %></h4></a></div>
   </div>
  </div>
</article>
							
</div>	<!--end story new version -->
