 <!--header-inner starts-->

<div id="header-inner" class="container">
 
    <div class="row"> 
      <div class="col-md-3"><a class="title" href="#"><span class="logo">Tunisia Election Data</span></a>
      
      </div>
      <!--menu starts  -->
      <div class="col-md-7">
        <div id="smoothmenu" class="ddsmoothmenu lang-en">
          <ul>
            <li><a href="#2011"  id="menu-2011">2011 Elections</a></li>
            
            <li><a href="charts/charts_en.html"  id="menu-2013">Charts</a></li>
            <li><a href="#2013"  id="menu-2013">Upcoming elections</a></li>
            <li><a href="#about"  id="menu-about">About</a> </li>
           
          </ul>
         
        </div>
        <div id="smoothmenu" class="ddsmoothmenu lang-fr">
          <ul>
            <li><a href="#2011"  id="menu-2011">Elections 2011</a></li>
            
            <li><a href="charts/charts_fr.html"  id="menu-2013">Graphiques</a></li>
            <li><a href="#2013"  id="menu-2013">Prochaines élections</a></li>
            <li><a href="#about"  id="menu-about">A propos</a> </li>
          </ul>
        </div>
        <div id="smoothmenu" class="ddsmoothmenu lang-ar">
          <ul>
            <li><a href="#2011"  id="menu-2011">2011 انتخابات </a></li>
            
            <li><a href="charts/charts_ar.html"  id="menu-2013">الرسوم البيانية</a></li>
            <li><a href="#2013"  id="menu-2013">الإنتخابات القادمة </a></li>
           <li><a href="#about"  id="menu-about">حول </a> </li>
          </ul>
        </div>
      </div>
      <!--menu ends  -->   
     <div class="col-md-2">
      <ul class="language-switcher">
	       <li><a id="en-menu">EN</a></li>
	       <li><a id="fr-menu">FR</a></li>
	       <li><a id="ar-menu">AR</a></li>
       </ul>
    </div>
 </div>
</div>  <!--header inner  ends  --> 

